body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.fashion_store{
    height: 50px;
    width: 100%;
    background-color: #806BDC;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px ;
    
}
.items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item img{
    height: 50px;
    width: 70px;
    margin: 15px 0;
    

}

.item h3{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item :hover{
    color: #806BDC;
}



.container{
    background-color: lightgray;
    height: 850px;
    width: 100%;
}
.shopping_time img{
    height: 435px;
    width: 1300px;
    margin: 30px 70px;
}

.shopping_time h2{
    font-size: 1.5em;
    text-align: center;
    margin: 0.5px;   
}
table{
    border: 1px solid grey;
    height:250px;
    width: 1300px;
    margin: 30px 70px;
    border-collapse: collapse;
    
}
th,td{
    border: 1px solid grey;
    padding: 10px;
}

th{
    background-color: #806BDC;
}
.context{
    color: #878787;
    font-size: 13px;
    margin-left: 20px;
}
.footer{
    height: 70px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}